* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.safe {
    width: 250px;
    height: 250px;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/download.jfif);
    background-size: cover;
    background-position-x: 20%;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#title-1 {
    padding: 2px;
    animation-name: title-1;
    animation-duration: 3s;
}

#title-2 {
    padding: 2px;
    animation-name: title-2;
    animation-duration: 5s;
}

@keyframes title-1 {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes title-2 {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.top-container {
    width: 60%;
    padding: 3px;
    margin-bottom: 25%;
    text-align: center;
}

.container {
    width: 60%;
    padding: 3px;
    background-color: white;
    margin-top: 25%;
    text-align: center;
}